$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 @import "bower_components/font-awesome/scss/font-awesome.scss";
 // endbower
// POPUP

#popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 99;

  h3 {
    color: white;
  }

  .center {
    margin: 0 auto;
  }

  .inputReminder {
    border-radius: 3px;
    border: 0;
    padding: 10px;
    width: 100%;
  }
  @media screen and (max-width:800px) {
    .inputReminder {
      width: 90vw;
    }
  }
  background-color: rgba(0, 0, 0, 0.85);
}
// FAB

#fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 200px;
  padding: 16px 20px;
  display: inline-block;
  background-color: rgb(58, 123, 167);
  color: white;
  cursor: pointer;
}

.item {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 10px 3px rgba(#000, 0.04);

  .text {
    float: left;
  }

  .remove {
    font-weight: 800;
    float: right;
    color: #5aa2de;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .check {
    margin-left: 10px;
    float: right;
  }
}

.done {
  color: #aaa;
}

.clearfloat {
  clear: both;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.footer,
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer,
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
